In [9]:
from pymongo import MongoClient
import pandas as pd

In [4]:
client = MongoClient("mongodb://localhost:27017")
db = client['Airbnb']
col = db['airbnb']

In [32]:
data= []

for i in col.find({},{"_id":1, "listing_url":1, "name":1, 'property_type':1, 'room_type':1, 'bed_type':1, 'minimum_nights':1, 'maximum_nights':1, 'cancellation_policy':1, 'accommodates':1, 'bedrooms':1, 'beds':1, 'number_of_reviews':1, 'bathrooms':1, 'price':1, 'extra_people':1, 'guests_included':1, 'images.picture_url':1, 'review_scores':1,'cleaning_fee':1}):
    data.append(i)

In [33]:
df = pd.DataFrame(data)

In [34]:
df

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135,135.0,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,1.0,2.0,29,1.0,121,NaN,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c..."
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699,NaN,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,1.0,1.0,81,1.0,181,50.0,100,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,0.0,1.0,64,1.0,181,50.0,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,House,Entire home/apt,Real Bed,1,1125,flexible,2,2.0,3.0,0,1.0,501,NaN,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,{}
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6,2.0,4.0,15,2.0,220,315.0,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Apartment,Private room,Real Bed,3,1125,flexible,1,1.0,1.0,4,1.0,400,NaN,300,2,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,Apartment,Private room,Real Bed,3,1125,moderate,2,1.0,1.0,0,1.0,60,50.0,50,2,{'picture_url': 'https://a0.muscache.com/im/pi...,{}
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartment,Entire home/apt,Real Bed,1,1125,flexible,6,1.0,2.0,0,2.0,750,NaN,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,{}

In [35]:
df.columns

Index(['_id', 'listing_url', 'name', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'price', 'cleaning_fee', 'extra_people', 'guests_included', 'images',
       'review_scores'],
      dtype='object')

In [36]:
df.head()

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,cleaning_fee,extra_people,guests_included,images,review_scores
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135,135.0,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,1.0,2.0,29,1.0,121,NaN,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 9, 'review_scores_c..."
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699,NaN,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,1.0,1.0,81,1.0,181,50.0,100,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,0.0,1.0,64,1.0,181,50.0,0,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_..."

In [37]:
df["images"]= df["images"].apply(lambda x: x["picture_url"])

In [38]:
df["review_scores"]= df["review_scores"].apply(lambda x: x.get("review_scores_rating",0))

In [20]:
df['property_type'].is_unique

False

In [19]:
df['_id'].unique

<bound method Series.unique of 0        1003530
1       10133554
2       10059872
3       10084023
4       10091713
          ...
5550     9985696
5551     9993190
5552     9887054
5553     9907907
5554     9936016
Name: _id, Length: 5555, dtype: object>

In [15]:
df['name'].unique

<bound method Series.unique of 0                     New York City - Upper West Side Apt
1                     Double and triple rooms Blue mosque
2                      Soho Cozy, Spacious and Convenient
3                       City center private room with bed
4        Surry Hills Studio - Your Perfect Base in Sydney
                              ...
5550                                      Kadıköy-Altıyol
5551    Just Steps from the Ocean at Premier Platinum ...
5552                  Quarry Bay fully furnished studio C
5553                           Large double room in Bondi
5554                          Alugo Apartamento na Tijuca
Name: name, Length: 5555, dtype: object>

In [29]:
df['property_type'].unique()

array(['Apartment', 'Bed and breakfast', 'Guesthouse', 'Hostel',
       'Serviced apartment', 'Loft', 'House', 'Condominium', 'Treehouse',
       'Guest suite', 'Bungalow', 'Townhouse', 'Villa', 'Cabin', 'Other',
       'Farm stay', 'Chalet', 'Boutique hotel', 'Cottage', 'Boat',
       'Earth house', 'Aparthotel', 'Resort', 'Tiny house',
       'Nature lodge', 'Hotel', 'Camper/RV', 'Casa particular (Cuba)',
       'Barn', 'Hut', 'Heritage hotel (India)', 'Pension (South Korea)',
       'Campsite', 'Castle', 'Houseboat', 'Train'], dtype=object)

In [40]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
accommodates,5555.0,3.505851,2.297019,1.0,2.0,3.0,4.0,16.0
bedrooms,5550.0,1.411712,1.041942,0.0,1.0,1.0,2.0,20.0
beds,5542.0,2.071454,1.619660,0.0,1.0,2.0,3.0,25.0
number_of_reviews,5555.0,27.606481,49.798376,0.0,1.0,5.0,32.0,533.0
bathrooms,5545.0,1.291163,0.702265,0.0,1.0,1.0,1.0,16.0
price,5555.0,278.766157,842.215531,9.0,70.0,129.0,280.0,48842.0
cleaning_fee,4024.0,94.074801,110.203782,0.0,23.0,60.0,129.0,2000.0
extra_people,5555.0,22.791899,69.331511,0.0,0.0,0.0,20.0,2346.0
guests_included,5555.0,1.747435,1.487352,1.0,1.0,1.0,2.0,16.0
review_scores,5555.0,68.395680,41.829834,0.0,0.0,92.0,98.0,100.0

In [41]:
df.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
cleaning_fee           1531
extra_people              0
guests_included           0
images                    0
review_scores             0
dtype: int64

In [42]:
df["beds"].fillna(0,inplace= True)
df["bedrooms"].fillna(0,inplace= True)
df["bathrooms"].fillna(0,inplace= True)
df["cleaning_fee"].fillna(0,inplace= True)

C:\Users\vijay\AppData\Local\Temp\ipykernel_19348\377093722.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["beds"].fillna(0,inplace= True)
C:\Users\vijay\AppData\Local\Temp\ipykernel_19348\377093722.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["bedrooms"].fillna(0,inplace= True)
C:\Users\vijay\AppData\Local\Temp\ipykernel_19348\377093722.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["bathrooms"].fillna(0,inplace= True)
C:\Users\vijay\AppData\Local\Temp\ipykernel_19348\377093722.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cleaning_fee"].fillna(0,inplace= True)

In [44]:
df.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
cleaning_fee           0
extra_people           0
guests_included        0
images                 0
review_scores          0
dtype: int64

In [46]:
df.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms              float64
price                    int64
cleaning_fee           float64
extra_people             int64
guests_included          int64
images                  object
review_scores            int64
dtype: object

In [47]:
df["minimum_nights"]= df["minimum_nights"].astype(int)
df["maximum_nights"]= df["maximum_nights"].astype(int)
df["bedrooms"]= df["bedrooms"].astype(int)
df["beds"]= df["beds"].astype(int)
df["bathrooms"]= df["bathrooms"].astype(str).astype(float).astype(int)
df["price"]= df["price"].astype(str).astype(float).astype(int)
df["extra_people"]= df["extra_people"].astype(str).astype(float).astype(int)
df["guests_included"]= df["guests_included"].astype(str).astype(float).astype(int)
df["cleaning_fee"]= df["cleaning_fee"].astype(str).astype(float).astype(int)

In [48]:
df.dtypes

_id                    object
listing_url            object
name                   object
property_type          object
room_type              object
bed_type               object
minimum_nights          int64
maximum_nights          int64
cancellation_policy    object
accommodates            int64
bedrooms                int64
beds                    int64
number_of_reviews       int64
bathrooms               int64
price                   int64
cleaning_fee            int64
extra_people            int64
guests_included         int64
images                 object
review_scores           int64
dtype: object

In [50]:
host= []
for i in col.find({},{"_id":1, "host":1}):
    host.append(i)

In [51]:
df1 = pd.DataFrame(host)

In [52]:
df1.head(10)

        _id                                               host
0   1003530  {'host_id': '454250', 'host_url': 'https://www...
1  10133554  {'host_id': '52004703', 'host_url': 'https://w...
2  10059872  {'host_id': '51624384', 'host_url': 'https://w...
3  10084023  {'host_id': '51744313', 'host_url': 'https://w...
4  10091713  {'host_id': '13764143', 'host_url': 'https://w...
5  10112159  {'host_id': '2649859', 'host_url': 'https://ww...
6  10096773  {'host_id': '34607505', 'host_url': 'https://w...
7  10140368  {'host_id': '1017772', 'host_url': 'https://ww...
8  10021707  {'host_id': '11275734', 'host_url': 'https://w...
9  10038496  {'host_id': '51530266', 'host_url': 'https://w...

In [55]:
host_columns= {'_id':[],'host_id':[], 'host_url':[], 'host_name':[], 'host_location':[],"host_response_time":[], 'host_thumbnail_url':[], 'host_picture_url':[], 'host_neighbourhood':[], 'host_response_rate':[], 'host_is_superhost':[], 'host_has_profile_pic':[], 'host_identity_verified':[], 'host_listings_count':[], 'host_total_listings_count':[], 'host_verifications':[]}

for i in df1['_id']:
    host_columns['_id'].append(i)

for i in df1['host']:
    host_columns["host_id"].append(i["host_id"])
    host_columns["host_url"].append(i["host_url"])
    host_columns["host_name"].append(i["host_name"])
    host_columns["host_location"].append(i["host_location"])
    host_columns["host_response_time"].append(i.get("host_response_time"))
    host_columns["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_columns["host_picture_url"].append(i["host_picture_url"])
    host_columns["host_neighbourhood"].append(i["host_neighbourhood"])
    host_columns["host_response_rate"].append(i.get("host_response_rate"))
    host_columns["host_is_superhost"].append(i["host_is_superhost"])
    host_columns["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_columns["host_identity_verified"].append(i["host_identity_verified"])
    host_columns["host_listings_count"].append(i["host_listings_count"])
    host_columns["host_total_listings_count"].append(i["host_total_listings_count"])
    host_columns["host_verifications"].append(i["host_verifications"])

In [57]:
df_host = pd.DataFrame(host_columns)

In [68]:
df_host

,_id,host_id,host_url,host_name,host_location,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,Not Specified,100.0,True,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."
1,10133554,52004703,https://www.airbnb.com/users/show/52004703,Mehmet Emin,"Istanbul, İstanbul, Turkey",within a few hours,https://a0.muscache.com/im/pictures/user/4cb6b...,https://a0.muscache.com/im/pictures/user/4cb6b...,Not Specified,100.0,False,True,True,2,2,"[email, phone, facebook, reviews, jumio, offli..."
2,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",Not Specified,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,Not Specified,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
3,10084023,51744313,https://www.airbnb.com/users/show/51744313,Yi,United States,within an hour,https://a0.muscache.com/im/pictures/user/a204d...,https://a0.muscache.com/im/pictures/user/a204d...,Shek Kip Mei,100.0,False,True,True,2,2,"[email, phone, reviews, jumio, offline_governm..."
4,10091713,13764143,https://www.airbnb.com/users/show/13764143,Ben,"New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/03c4d82b-7...,https://a0.muscache.com/im/pictures/03c4d82b-7...,Surry Hills,Not Specified,False,True,True,1,1,"[email, phone, google, reviews, jumio, offline..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,51303748,https://www.airbnb.com/users/show/51303748,Eren,"Kadikoy, Çanakkale, Turkey",Not Specified,https://a0.muscache.com/im/pictures/89a1b839-2...,https://a0.muscache.com/im/pictures/89a1b839-2...,Not Specified,Not Specified,False,True,False,2,2,"[email, phone]"
5551,9993190,51013381,https://www.airbnb.com/users/show/51013381,Coconut Condos,"Lahaina, Hawaii, United States",within an hour,https://a0.muscache.com/im/pictures/fa071e13-8...,https://a0.muscache.com/im/pictures/fa071e13-8...,Not Specified,99.0,False,True,True,58,58,"[email, phone, reviews, kba, work_email]"
5552,9887054,31386255,https://www.airbnb.com/users/show/31386255,Cat,Hong Kong,within a day,https://a0.muscache.com/im/pictures/965f2c12-5...,https://a0.muscache.com/im/pictures/965f2c12-5...,Causeway Bay,60.0,False,True,False,7,7,"[email, phone, reviews]"
5553,9907907,47615848,https://www.airbnb.com/users/show/47615848,Lucy,"Bondi Beach, New South Wales, Australia",Not Specified,https://a0.muscache.com/im/pictures/b4675d0a-f...,https://a0.muscache.com/im/pictures/b4675d0a-f...,Not Specified,Not Specified,False,True,False,1,1,"[email, phone]"
5554,9936016,47092481,https://www.airbnb.com/users/show/47092481,Aliane,BR,Not Specified,https://a0.muscache.com/im/pictures/4b17fc8e-4...,https://a0.muscache.com/im/pictures/4b17fc8e-4...,Not Specified,Not Specified,False,True,False,1,1,[phone]

In [60]:
df_host.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [61]:
print(df_host['host_neighbourhood'])

0
1
2               Soho
3       Shek Kip Mei
4        Surry Hills
            ...
5550
5551
5552    Causeway Bay
5553
5554
Name: host_neighbourhood, Length: 5555, dtype: object

In [63]:
# host_neighbourhood have more empty values ('')
# Finding the how many values are empty
list_index= []
for index,row in df_host.iterrows():
    if row["host_neighbourhood"] =='':
        list_index.append(index)

In [64]:
len(list_index)

1923

In [65]:
df_host["host_neighbourhood"]= df_host["host_neighbourhood"].replace({'':"Not Specified"})

In [66]:
df_host["host_response_time"].fillna("Not Specified",inplace= True)
df_host["host_response_rate"].fillna("Not Specified",inplace= True)

C:\Users\vijay\AppData\Local\Temp\ipykernel_19348\3549105767.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host_response_time"].fillna("Not Specified",inplace= True)
C:\Users\vijay\AppData\Local\Temp\ipykernel_19348\3549105767.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_host["host_response_rate"].fillna("Not Specified",inplace= True)
C:\Users\vijay\AppData\Local\Temp\ipykernel_19348\3549105767.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Not Specified' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_host["host_response_rate"].fillna("Not Specified",inplace= True)

In [69]:
df_host.isnull().sum()

_id                          0
host_id                      0
host_url                     0
host_name                    0
host_location                0
host_response_time           0
host_thumbnail_url           0
host_picture_url             0
host_neighbourhood           0
host_response_rate           0
host_is_superhost            0
host_has_profile_pic         0
host_identity_verified       0
host_listings_count          0
host_total_listings_count    0
host_verifications           0
dtype: int64

In [71]:
address= []
for i in col.find({}, {"_id":1, "address":1}):
    address.append(i)

In [72]:
df2 = pd.DataFrame(address)

In [75]:
df2['address'][0]

{'street': 'New York, NY, United States',
 'suburb': 'Manhattan',
 'government_area': 'Upper West Side',
 'market': 'New York',
 'country': 'United States',
 'country_code': 'US',
 'location': {'type': 'Point',
  'coordinates': [-73.96523, 40.79962],
  'is_location_exact': False}}

In [76]:
address_columns= {'_id':[], 'street':[], 'suburb':[], 'government_area':[], 'market':[], 'country':[],
                   'country_code':[], 'location_type':[], "longitude":[], "latitude":[],
                    "is_location_exact":[]}

for i in df2["_id"]:
    address_columns["_id"].append(i)

for i in df2["address"]:
    address_columns["street"].append(i["street"])
    address_columns["suburb"].append(i["suburb"])
    address_columns["government_area"].append(i["government_area"])
    address_columns["market"].append(i["market"])
    address_columns["country"].append(i["country"])
    address_columns["country_code"].append(i["country_code"])
    address_columns["location_type"].append(i["location"]["type"])
    address_columns["longitude"].append(i["location"]["coordinates"][0])
    address_columns["latitude"].append(i["location"]["coordinates"][1])
    address_columns["is_location_exact"].append(i["location"]["is_location_exact"])

In [78]:
df_address = pd.DataFrame(address_columns)

In [80]:
df_address.isnull().sum()

_id                  0
street               0
suburb               0
government_area      0
market               0
country              0
country_code         0
location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [82]:
# Checking the empty values ('') for all features

#for i in df_address_1.columns:
id_e=[]
stre_e=[]
suburb_e=[]
gov_e=[]
mark_e=[]
cntry_e=[]
cntry_co_e=[]
loc_ty_e=[]
long_e=[]
lat_e=[]
is_loc_tr_e=[]
for index,row in df_address.iterrows():
    if row["_id"] == '':
        id_e.append(index)

    if row["street"] == '':
        stre_e.append(index)
        
    if row["suburb"] == '':
        suburb_e.append(index)

    if row["government_area"] == '':
        gov_e.append(index)

    if row["market"] == '':
        mark_e.append(index)

    if row["country"] == '':
        cntry_e.append(index)
    
    if row["country_code"] == '':
        cntry_co_e.append(index)

    if row["location_type"] == '':
        loc_ty_e.append(index) 

    if row["longitude"] == '':
        long_e.append(index)

    if row["latitude"] == '':
        lat_e.append(index)

    if row["is_location_exact"] == '':
        is_loc_tr_e.append(index)

In [83]:
empty_columns=[id_e,stre_e,suburb_e,gov_e,mark_e,cntry_e,cntry_co_e,loc_ty_e,long_e,lat_e,is_loc_tr_e]
for i in empty_columns:
    print(len(i))

0
0
887
0
6
0
0
0
0
0
0

In [85]:
# "suburb" and "market" have a empty values

df_address["suburb"]= df_address["suburb"].replace({'':"Not Specified"})
df_address["market"]= df_address["market"].replace({'':"Not Specified"})

In [87]:
availability= []
for i in col.find({}, {"_id":1, "availability":1}):
    availability.append(i)

In [88]:
df3 = pd.DataFrame(availability)

In [90]:
df3['availability'][0]

{'availability_30': 0,
 'availability_60': 0,
 'availability_90': 0,
 'availability_365': 93}

In [91]:
availabe_columns= {'_id':[], 'availability_30':[], 'availability_60':[], 'availability_90':[], 'availability_365':[]}

for i in df3["_id"]:
    availabe_columns["_id"].append(i)

for i in df3["availability"]:
    availabe_columns["availability_30"].append(i["availability_30"])
    availabe_columns["availability_60"].append(i["availability_60"])
    availabe_columns["availability_90"].append(i["availability_90"])
    availabe_columns["availability_365"].append(i["availability_365"])

In [92]:
df_available = pd.DataFrame(availabe_columns)

In [93]:
df_available

,_id,availability_30,availability_60,availability_90,availability_365
0,1003530,0,0,0,93
1,10133554,30,60,90,365
2,10059872,0,0,0,0
3,10084023,14,24,40,220
4,10091713,0,0,0,0
...,...,...,...,...,...
5550,9985696,30,60,90,365
5551,9993190,0,8,31,258
5552,9887054,18,48,78,353
5553,9907907,0,0,0,0
5554,9936016,0,0,0,0

In [94]:
df_available.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [95]:
df_available.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [96]:
amenities= []
for i in col.find({},{"_id":1, "amenities":1}):
    amenities.append(i)

In [103]:
df_amenities = pd.DataFrame(amenities)

In [104]:
df_amenities.isnull().sum()

_id          0
amenities    0
dtype: int64

In [105]:
#Merge DataFrame

data = pd.merge(df,df_host,on='_id')
data = pd.merge(data,df_address,on='_id')
data = pd.merge(data,df_available,on='_id')
data = pd.merge(data,df_amenities,on='_id')

In [106]:
data

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,...,country_code,location_type,longitude,latitude,is_location_exact,availability_30,availability_60,availability_90,availability_365,amenities
0,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,...,US,Point,-73.965230,40.799620,False,0,0,0,93,"[Air conditioning, Buzzer/wireless intercom, D..."
1,10133554,https://www.airbnb.com/rooms/10133554,Double and triple rooms Blue mosque,Bed and breakfast,Private room,Real Bed,1,1125,moderate,3,...,TR,Point,28.980090,41.006200,False,30,60,90,365,"[Internet, Wifi, Air conditioning, Free parkin..."
2,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,...,HK,Point,114.150270,22.281580,True,0,0,0,0,"[Air conditioning, Kitchen, Smoking allowed, D..."
3,10084023,https://www.airbnb.com/rooms/10084023,City center private room with bed,Guesthouse,Private room,Futon,1,500,strict_14_with_grace_period,1,...,HK,Point,114.166900,22.331400,True,14,24,40,220,"[TV, Wifi, Air conditioning, Kitchen, Elevator..."
4,10091713,https://www.airbnb.com/rooms/10091713,Surry Hills Studio - Your Perfect Base in Sydney,Apartment,Entire home/apt,Real Bed,10,21,strict_14_with_grace_period,2,...,AU,Point,151.215540,-33.880290,True,0,0,0,0,"[TV, Wifi, Kitchen, Elevator, Heating, Washer,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,https://www.airbnb.com/rooms/9985696,Kadıköy-Altıyol,House,Entire home/apt,Real Bed,1,1125,flexible,2,...,TR,Point,29.030790,40.985630,False,30,60,90,365,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer..."
5551,9993190,https://www.airbnb.com/rooms/9993190,Just Steps from the Ocean at Premier Platinum ...,Townhouse,Entire home/apt,Real Bed,3,365,strict_14_with_grace_period,6,...,US,Point,-156.667520,20.858940,False,0,8,31,258,"[TV, Wifi, Air conditioning, Pool, Kitchen, Fr..."
5552,9887054,https://www.airbnb.com/rooms/9887054,Quarry Bay fully furnished studio C,Apartment,Private room,Real Bed,3,1125,flexible,1,...,HK,Point,114.207220,22.291570,False,18,48,78,353,"[TV, Wifi, Air conditioning, Kitchen, Elevator..."
5553,9907907,https://www.airbnb.com/rooms/9907907,Large double room in Bondi,Apartment,Private room,Real Bed,3,1125,moderate,2,...,AU,Point,151.265420,-33.892980,False,0,0,0,0,"[TV, Internet, Wifi, Kitchen, Washer, Dryer, S..."
5554,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartment,Entire home/apt,Real Bed,1,1125,flexible,6,...,BR,Point,-43.173761,-22.908336,False,0,0,0,0,"[TV, Cable TV, Internet, Wifi, Air conditionin..."

In [107]:
data.columns

Index(['_id', 'listing_url', 'name', 'property_type', 'room_type', 'bed_type',
       'minimum_nights', 'maximum_nights', 'cancellation_policy',
       'accommodates', 'bedrooms', 'beds', 'number_of_reviews', 'bathrooms',
       'price', 'cleaning_fee', 'extra_people', 'guests_included', 'images',
       'review_scores', 'host_id', 'host_url', 'host_name', 'host_location',
       'host_response_time', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_response_rate', 'host_is_superhost',
       'host_has_profile_pic', 'host_identity_verified', 'host_listings_count',
       'host_total_listings_count', 'host_verifications', 'street', 'suburb',
       'government_area', 'market', 'country', 'country_code', 'location_type',
       'longitude', 'latitude', 'is_location_exact', 'availability_30',
       'availability_60', 'availability_90', 'availability_365', 'amenities'],
      dtype='object')

In [108]:
df.to_csv('Airbnb.csv', index= False)